*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.open_fan{
    background: black;
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_fan{
    border-radius: 10px;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
}

.hide{
    display: none;
}

.modal_inner_fan{
    width: 400px;
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    animation: modal_show 0.6s linear;
}
.modal_header_fan{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #074c95;
    color: white;
    cursor: pointer;
    text-align: right;
}

.modal_body{
    padding: 10px;
    
}

/* .modal_body h2{
    color: #074c95;
    text-align: center;
} */

/* #supply_valve{
    float: right;
}

#return_valve{
    float: right;
}

#bypass_valve{
    float: right;
}

#close_open_supply{
    float: right;
}

#close_open_return{
    float: right;
}

#close_open_bypass{
    float: right;
}

.control_onoff{
    line-height: 2;
} */


/* .modal_footer{
    text-align: right;
}

.modal_footer button{
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background: #074c95;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@keyframes modal_show {
    from{
        top: -200px;
        opacity: 0;
    }

    to{
        top: 20%;
        opacity: 1;
    }
} */
