/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*vị trí - kích thước (chiều rộng- chiều cao)- màu sắc- kiểu chữ- hình dạng*/

html{
    font-family: Arial, Helvetica, sans-serif; /* kiểu chữ */
    scroll-behavior: smooth;
} 

/* #main {
    
} */

body{
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#header {
    height: 40px;
    background-color:#073f7e;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#nav li{
    display: inline-block; /* viết ngang*/
}

#nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 40px;
    padding: 0px 24px 0px 24px;
    display: inline-block;
    text-transform: uppercase; /* viết hoa*/
}

#nav li a:hover {
    color: #fffc1e;
    background-color: darkblue;
}

#content {
    background-image: url('https://raw.githubusercontent.com/giabao96123/cosysterm/main/img/backgroundthongigo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /*Đảm bảo hình ảnh nền sẽ lấp đầy toàn bộ kích thước của trang  */
    justify-content: center; 
}
/* logotendetai */
#content .header2 {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 15px;
    border: 4px solid #073f7e;
}

#content .header2 img {
    margin: 0 0px; /* Để tạo khoảng cách giữa hai logo */
    margin-top: 10px;
}


#content .text {
    display: flex; /* Sử dụng flexbox */
    flex-direction: column; /* Xếp chúng theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    margin-right: 20px;
    margin-left: 20px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    /* line-height: 1.5; */
}

.text h1, .text h2, .text h3 {
    margin: 2px 0; /* Thêm khoảng cách giữa các tiêu đề */
    font-size: 20px; /* Đảm bảo kích thước chung cho các tiêu đề */
    font-weight: bold; /* Đảm bảo chữ đậm cho các tiêu đề */
}



/* --------------------------Mô hình--------------------  */
/* #content #mohinh{

} */

/* .chiller{
    position: fixed;
    top: 600px;
    left: 30px;
    z-index: 1;
} */

/* .pipe1{
    position: fixed;
    top: 650px;
    left: 675px;
    z-index: 1;
}

.pipe2{
    position: fixed;
    top: 770px;
    left: 675px;
    z-index: 1;
}

.valvebypass{
    transform: rotate(90deg);
    position: fixed;
    top: 647px;
    left: 730px;
    z-index: 0;
    
} */

.valvesupply{
    position: fixed;
    top: 560px;
    left: 848px;
    z-index: 0;
}

.valvereturn{
    position: fixed;
    top: 687px;
    left: 848px;
    z-index: 0;
}

.pipethang1-1{
    position: fixed;
    top: 649px;
    left: 397px;
    z-index: 1;
}

.pipethang2-1{
    position: fixed;
    top: 776px;
    left: 397px;
    z-index: 1;
}

.tempsensor1{
    position: fixed;
    top: 590px;
    left: 824px;
    z-index: 2;
}
.tempsensor2{
    position: fixed;
    top: 590px;
    left: 591px;
    z-index: 2;
}

.pipethang1-2{
    position: fixed;
    top: 649px;
    left: 525px;
    z-index: 1;
}

.pipethang2-2{
    position: fixed;
    top: 776px;
    left: 525px;
    z-index: 1;
}

.presensor1{
    position: fixed;
    top: 617px;
    left: 597px;
    z-index: 1;
}
.presensor2{
    position: fixed;
    top: 743px;
    left: 597px;
    z-index: 1;
}
.pipethang1-3{
    position: fixed;
    top: 649px;
    left: 968px;
    z-index: 1;
}

.pipethang2-3{
    position: fixed;
    top: 776px;
    left: 968px;
    z-index: 1;
}

.co1{
    position: fixed;
    top: 657px;
    left: 1040px;
    z-index: 1;
}

.co2{
    position: fixed;
    top: 784px;
    left: 1088px;
    z-index: 1;
}

.pipethang1-4{
    position: fixed;
    top: 457px;
    left: 1035px;
    z-index: 1;
}

.pipethang2-4{
    position: fixed;
    top: 458px;
    left: 1082px;
    z-index: 1;
}



.pipethang1-5{
    position: fixed;
    top: 845px;
    left: 690px;

}
#ahu{
    position: fixed;
    top: 494px;
    left: 727px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}
.co3{
    transform: rotate(-90deg);
    position: fixed;
    top: 358px;
    left: 1672px;
    z-index: 1;
}

.pipethang1-6{
    position: fixed;
    top: 395px;
    left: 1665px;
    z-index: 1;
}

.hcmute{
    position: fixed;
    top: 135px;
    left: 560px;
    z-index: 1;
}

.fan{
    position: fixed;
    top: 480px;
    left:665px;
    z-index: 3;
    opacity: 0.6;
}
/* -------------------------------- */
/* nhietdo */
.gsnds{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 465px;
    left: 405px;
}
.controldongcothuan{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 325px;
    left: 405px;
}
.controldongconghich{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 325px;
    left: 945px;
}
.gsndr{
    width: 150px;
    line-height: 2;
    justify-content: center;
    text-align: center;
    color: blue;
    background: rgba(255, 255, 0, 0.6);
    border-radius: 9px;
    border: 2px solid blue;
    position: fixed;
    top: 830px;
    left: 445px;
}
/* nongdoco */
.gsass{    
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 465px;
    left: 945px;
}

.gsasr{
    width: 100px;
    justify-content: center;
    text-align: center;
    color: blue;
    background: rgba(255, 255, 0, 0.6);
    border-radius: 9px;
    border: 2px solid blue;
    position: fixed;
    top: 430px;
    left: 385px;
}

.open_modal_btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal{
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hide{
    display: none;

}

.modal_inner{
    font-size: 30px;
    width: 600px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    animation: modal_show 0.6s linear;
}
.modal_header{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #074c95;
    color: white;
    cursor: pointer;
    text-align: right;
}

.modal_body{
    padding: 10px;
}

.modal_body .valve{
    color: #074c95;
    text-align: center;
    margin-bottom: 5px;
}

.modal_body p{
    padding-bottom: 5px;
}

/* #supply_valve{
    float: right;
}

#return_valve{
    float: right;
}

#bypass_valve{
    float: right;
}

#close_open_supply{
    float: right;  
}

#close_open_supply_ngoai{
    position: fixed;
    top: 610px;
    left: 910px;
}

#close_open_return{
    float: right;
}

#close_open_return_ngoai{
    position: fixed;
    top: 738px;
    left: 910px;
}

#close_open_bypass{
    float: right;
}

#close_open_bypass_ngoai{
    rotate: 90deg;
    position: fixed;
    top: 717px;
    left: 818px;
} */

.control_onoff{
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 565px;
    left: 945px;
}


/* .control_onoff button{
    
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 6px;
} */

.controlnhiet{
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background:rgba(239, 239, 238, 0.941);
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: fixed;
    top: 565px;
    left: 405px;
}

.luu{
    text-align: right;
}

.luu button{
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background: #074c95;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* @keyframes modal_show {
    from{
        top: 200px;
        opacity: 0;
    }

    to{
        top: 20%;
        opacity: 1;
    }
} */

.open_fan{
    background: none;
    border: none;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.modal_fan{
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #074c95;
    /* border-radius: 10px; */
    position: fixed;
    top: 49.92%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.hide{
    display: none;

}
/* bangdieukien */
.modal_inner_fan{  
    width: 910px;
    height: 693px;
    background: white;
    /* border-radius: 10px; */
    overflow: hidden;
    animation: modal_show 0.6s linear;
}
.modal_header_fan{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #074c95;
    color: white;
    cursor: pointer;
    text-align: right;
    font-size: 25px;
}

.modal_body #fan{
    color: #074c95;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.monitor-frame{
    display: block;   
    padding-top: 5px;
}

.monitor{
    width: 100%;
    height: auto;
    
}
/* khoigiamsat */
.para-monitor{
    list-style: none;
    width: 15.2%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 1% 8.9% ;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #ffead6;
    cursor: pointer;
    /* background: linear-gradient(180deg, rgba(51, 122, 202, 0.5) 0%, rgba(22, 84, 201, 0.5) 50%, rgba(21, 33, 201, 0.5) 100%); */
}

.block{
    list-style: none;
    width: 14.8%;
    height: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 0 4.77% ;
    text-align: center;
    justify-content: center;
    border-radius:10px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #ffead6;
    cursor: pointer;
    /* background: linear-gradient(180deg, rgba(51, 122, 202, 0.5) 0%, rgba(22, 84, 201, 0.5) 50%, rgba(21, 33, 201, 0.5) 100%); */
}



.block input{
    margin-top: 5px;
}

.selectrunstop{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.RUN{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
.selectlockunlock{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.UNLOCK{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
.selectover{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.over{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
/* .control .block1{
    padding: 10px;
    width: 17%;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
    position: fixed;
    top: 400px;
    left: 80px;
} */

/* .control .block2{
    padding: 10px;
    width: 17%;
    height: 200px;    
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
}

.control .block3{
    padding: 10px;
    width: 17%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% ;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
}
.control .block4{
    padding: 10px;
    width: 17%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% ;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
} */
.input-group label{
    font-size: 18px;
    justify-content: center;
}
.input-group{
    margin-top: 10px;
}

.input-group input{
    width: 120px;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    padding-left: 12px;
}

.para-monitor a{
    color: black;
    text-decoration-line: none;
}



.title-para-monitor{
    padding-top: 5px;
    font-size: 20px;
}

.icon-para-monitor{
    width: 17%;
    padding-top: 3px;
}

.value-para-monitor{
    font-size: 20px;
    padding-top: 5px;
}

/* Dien ap */
#giamsatdienap{
    background-color: white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}


#voltage-monitor{
    padding-top: 20px;
    
}

#sheet-voltage{
    margin-left: 20px;
    width: 400px;
}

.report{
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;
    
}

/* .report:hover{
    
} */

#table-sheet-voltage{
    background: #989a9b;
}

.title-col-sheet{
    background: white;
}

.content-row-voltage{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}

.title-col-sheet:nth-child(even) {
    background-color: #dddddd;
}

.frame-gauge{
    width: 380px;
    margin-top: 10px;
    margin-left: 20px;
}

.frame-gauge-text{
    font-size: 25px;

}

.gauge{
    width: 380px;
    height: 180px;
}

.value{
    color: black;
    background: white;
    font-size: 25px;
    text-align: center;
}

.frame-chart{
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 35%;
}

.frame-chart-text{
    font-size: 25px;
}

.chart{
    margin-top: 10px;
    width: 900px;
    height: 500px;
    /* border: 2px solid #074c95; */
    
}
/* ------dongdien------- */
#giamsatdongdien{
    background-color: white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
.content-row-current{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#current-monitor{
    padding-top: 20px;
    
}
#table-sheet-current{
    background: #989a9b;
}
#sheet-current{
    margin-left: 20px;
    width: 400px;
}
/* -----------tanso------------- */
.content-row-frequency{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsattanso{
    background-color: white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
#frequency-monitor{
    padding-top: 20px;
    
}
#table-sheet-frequency{
    background: #989a9b;
}
#sheet-frequency{
    margin-left: 20px;
    width: 400px;
}
/* ---------tocdoquay------------- */
.content-row-speed{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsattocdo{
    background-color: white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
#speed-monitor{
    padding-top: 20px;
    
}
#table-sheet-speed{
    background: #989a9b;
}
#sheet-speed{
    margin-left: 20px;
    width: 400px;
}
/* ---------congsuat------------- */
.content-row-power{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsatcongsuat{
    background-color: white;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
#power-monitor{
    padding-top: 20px;
    
}
#table-sheet-power{
    background: #989a9b;
}
#sheet-power{
    margin-left: 20px;
    width: 400px
}



/* .arlert{
    display: flex;
    position: absolute;
    width: 400px;
    height: 70px;
    align-items: center;
    box-shadow: 0px 0px 5px #073f7e;
    top: 50px;
    right: 80px;
    background-color: #ffffff;
  
    transition: all 0.8s;
} */

.alert {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 100px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 30px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert1 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 100px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert2 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 100px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert3 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 100px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.process {
    height: 70px;
    border-left: 5px solid rgb(254, 180, 119);
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
}

.check {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 255, 255, 0);
    }
}
