/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*vị trí - kích thước (chiều rộng- chiều cao)- màu sắc- kiểu chữ- hình dạng*/

html{
    font-family: Arial, Helvetica, sans-serif; /* kiểu chữ */
    scroll-behavior: smooth;
} 

/* #main {
    
} */

body{
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /* overflow-x: auto; */
    overflow-y: auto;
}

#header {
    height: 40px;
    background-color:#073f7e;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

#nav li{
    display: inline-block; /* viết ngang*/
}

#nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 40px;
    padding: 0px 24px 0px 24px;
    display: inline-block;
    text-transform: uppercase; /* viết hoa*/
}

#nav li a:hover {
    color: #fffc1e;
    background-color: darkblue;
}

#content {
    background-image: url('https://raw.githubusercontent.com/giabao96123/cosysterm/main/img/backgroundthongigo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /*Đảm bảo hình ảnh nền sẽ lấp đầy toàn bộ kích thước của trang  */
    justify-content: center; 
}
/* logotendetai */
#content .header2 {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 318px;
    margin-right: 318px;
    border-radius: 15px;
    border: 4px solid #073f7e;
}

#content .header2 img {
    margin: 0 0px; /* Để tạo khoảng cách giữa hai logo */
    margin-top: 10px;
}


#content .text {
    display: flex; /* Sử dụng flexbox */
    flex-direction: column; /* Xếp chúng theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    margin-right: 10px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
    /* line-height: 1.5; */
}

.text h1, .text h2, .text h3 {
    margin: 2px 0; /* Thêm khoảng cách giữa các tiêu đề */
    font-size: 20px; /* Đảm bảo kích thước chung cho các tiêu đề */
    font-weight: bold; /* Đảm bảo chữ đậm cho các tiêu đề */
}



/* --------------------------Mô hình--------------------  */
#trangthai {
    font-size: 16px;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    position: absolute;
    top: 292px;
    left: 742px
    
}

.tempsensor1{
    position: absolute;
    top: 590px;
    left: 824px;
    z-index: 2;
}
.tempsensor2{
    position: absolute;
    top: 590px;
    left: 591px;
    z-index: 2;
}
#ahu1{
    position: absolute;
    top: 494px;
    left: 727px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}
#ahu{
    position: absolute;
    top: 494px;
    left: 727px;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
}

.co3{
    transform: rotate(-90deg);
    position: absolute;
    top: 358px;
    left: 1672px;
    z-index: 1;
}

.pipethang1-6{
    position: absolute;
    top: 395px;
    left: 1665px;
    z-index: 1;
}

.hcmute{
    position: absolute;
    top: 135px;
    left: 560px;
    z-index: 1;
}
.hcmute1{
    position: absolute;
    top: 135px;
    left: 320px;
    z-index: 1;
}

.fan{
    position: absolute;
    top: 480px;
    left:665px;
    z-index: 3;
    opacity: 0.6;
}
/* -------------------------------- */
/* nhietdo */
.gsnds {
    width: 150px;
    font-style: normal;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 605px;
    left: 405px;
    line-height: 1; /* Đặt line-height thành 1 để loại bỏ khoảng cách giữa các hàng */
    padding: 5px 0; /* Đảm bảo khoảng cách trên và dưới là 5px */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}

.temperature-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 5px; /* Một chút khoảng cách từ dòng trước đó */
}

.temperature-value {
    color: red; /* Màu đỏ cho giá trị nhiệt độ */
    font-size: 19px; /* Đặt kích thước chữ cho giá trị nhiệt độ */
    font-weight: bold; /* Đảm bảo giá trị nhiệt độ nổi bật */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}

.temperature-unit {
    color: black; /* Màu đen cho ký hiệu nhiệt độ */
    font-size: 19px; /* Đặt kích thước chữ cho ký hiệu nhiệt độ */
    font-weight: bold; /* Đảm bảo ký hiệu nhiệt độ nổi bật */
    margin-left: 5px; /* Thêm khoảng cách nhỏ giữa giá trị nhiệt độ và đơn vị */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}



.controldongcothuan{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 435px;
    left: 405px;
}

.controldenbaooff{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 425px;
    left: 945px;
}
.controldenbaoon{
    width: 150px;
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 415px;
    left: 945px;
}

.gsndr{
    width: 150px;
    line-height: 2;
    justify-content: center;
    text-align: center;
    color: blue;
    background: rgba(255, 255, 0, 0.6);
    border-radius: 9px;
    border: 2px solid blue;
    position: absolute;
    top: 830px;
    left: 445px;
}
/* nongdoco */
.gsass {
    width: 150px;
    font-style: normal;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 605px;
    left: 945px;
    padding: 5px 0; /* Đảm bảo khoảng cách trên và dưới là 5px */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}

.concentration-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2px; /* Một chút khoảng cách từ dòng trước đó */
    /* line-height: 1.5; Điều chỉnh line-height nếu cần thiết để khoảng cách giữa các hàng phù hợp */
}

.concentration-value {
    color: red; /* Màu đỏ cho giá trị nồng độ */
    font-size: 19px; /* Đặt kích thước chữ cho giá trị nồng độ */
    font-weight: bold; /* Đảm bảo giá trị nồng độ nổi bật */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}

.concentration-unit {
    color: rgb(0, 0, 0); /* Màu đen cho ký hiệu nồng độ */
    font-size: 19px; /* Đặt kích thước chữ cho ký hiệu nồng độ */
    font-weight: bold; /* Đảm bảo ký hiệu nồng độ nổi bật */
    margin-left: 5px; /* Thêm khoảng cách nhỏ giữa giá trị nồng độ và đơn vị */
    margin: 0; /* Đảm bảo không có khoảng cách thêm bên ngoài phần tử */
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.co-alert {
    position: absolute;
    top: 150px;
    right: 20px;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 1s infinite; /* Thêm hiệu ứng nhấp nháy */
}

.co-alert span {
    margin-left: 10px;
}





.gsasr{
    width: 100px;
    justify-content: center;
    text-align: center;
    color: blue;
    background: rgba(255, 255, 0, 0.6);
    border-radius: 9px;
    border: 2px solid blue;
    position: absolute;
    top: 430px;
    left: 385px;
}

.open_modal_btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal{
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hide{
    display: none;

}

.modal_inner{
    font-size: 30px;
    width: 600px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    animation: modal_show 0.6s linear;
}
.modal_header{
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #074c95;
    color: white;
    cursor: pointer;
    text-align: right;
}

.modal_body{
    padding: 10px;
}

.modal_body .valve{
    color: #074c95;
    text-align: center;
    margin-bottom: 5px;
}

.modal_body p{
    padding-bottom: 5px;
}


.control_onoff{
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 520px;
    left: 945px;
}


/* .control_onoff button{
    
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 6px;
} */

.controlnhiet{
    line-height: 2;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    justify-content: center;
    text-align: center;
    color: rgb(33, 29, 29);
    background: #ffffff;
    border-radius: 9px;
    border: 2px solid rgb(4, 0, 255);
    position: absolute;
    top: 520px;
    left: 405px;
}
.nhiet-text {
    display: block; /* Đảm bảo chữ "ON" và "OFF" nằm ngay dưới chữ "Co gas arlam" */
    margin: 0; /* Loại bỏ khoảng cách mặc định giữa các dòng */
    padding: 0; /* Loại bỏ khoảng cách mặc định giữa các dòng */
    line-height: 1; /* Loại bỏ khoảng cách giữa các dòng */
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.temp-alert {
    position: absolute;
    width: 395px;
    top: 210px; /* Điều chỉnh vị trí theo nhu cầu */
    right: 20px;
    padding: 15px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blink 1s infinite; /* Thêm hiệu ứng nhấp nháy */
}

.temp-alert span {
    margin-left: 10px;
}

.luu{
    text-align: right;
}

.luu button{
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background: #074c95;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* @keyframes modal_show {
    from{
        top: 200px;
        opacity: 0;
    }

    to{
        top: 20%;
        opacity: 1;
    }
} */
.controlmode {
    width: 250px;
    background: #074c95;
    position: absolute;
    top: 200px;
    left: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px; /* Đảm bảo khoảng cách giữa viền và nội dung bên trong */
}

.controlmode .time {
    padding: 5px;
    color: white;
}

.controlmode .headermode {
    background: white;
    border: 2px solid #074c95;
    color: #074c95;
    text-align: center;
    font-size: 20px;
    margin: 5px 0; /* Khoảng cách giữa các phần tử */
}

.controlmode .headermode_bms {
    color: white;
    padding-left: 5px;
    font-size: 20px;
    margin: 5px 0; /* Khoảng cách giữa các phần tử */
}

.btncontrols {
    display: flex;
    justify-content: space-between; /* Đặt khoảng cách đều giữa các khối */
    gap: 5px; /* Khoảng cách giữa các khối */
}

.btncontrol, .btncontrol1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1; /* Để các khối có cùng kích thước */
    font-size: 18px;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 15px 5px;
    box-sizing: border-box;
    margin: 0; /* Loại bỏ khoảng cách bên ngoài */
    position: relative; /* Để định vị các đèn báo tín hiệu */
}

.btncontrol p, .btncontrol1 p {
    margin: 5px 0 0 0; /* Khoảng cách bên trong cho đoạn văn */
}

.manual, .auto {
    position: absolute;
    top: 5px;
    right: 5px;
}

input[type="time"] {
    width: 150px; /* Độ rộng */
    height: 30px; /* Chiều cao */
    padding: 5px; /* Khoảng cách bên trong */
    border: 1px solid #ccc; /* Đường viền */
    border-radius: 5px; /* Bo góc */
    background-color: #f4f4f4; /* Màu nền */
    color: #333; /* Màu chữ */
    font-size: 14px; /* Cỡ chữ */
    outline: none; /* Loại bỏ đường viền khi được focus */
}
/* ------------------------------------------------------timese-------------------------------------------------------------- */
.timeset {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
    gap: 5px; /* Khoảng cách giữa các phần tử */
    width: 180px;
    background: #074c95;
    text-align: center;
    justify-content: center; /* Căn giữa theo chiều dọc */
    font-size: 20px;
    color: #ffffff;
    border-radius: 9px;
    height: 180px;
    position: absolute;
    top: 400px; 
    left: 50px;
    font-weight: bold;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Căn giữa nội dung của switch-container */
    width: 100%; /* Đảm bảo switch-container chiếm toàn bộ chiều ngang của timeset */
}

.timeInput {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center; /* Căn giữa theo chiều dọc */
    width: 100%; /* Đảm bảo timeInput chiếm toàn bộ chiều ngang của timeset */
}

label {
    margin-bottom: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00d212;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
input[type="time"] {
    font-size: 20px; /* Điều chỉnh giá trị này để thay đổi kích thước */
    /* width: 80%; Đảm bảo input chiếm toàn bộ chiều ngang của khối cha */
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước tổng thể của input */
}


.open_fan{
    background: none;
    border: none;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.modal_fan{
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid #074c95;
    /* border-radius: 10px; */
    position: absolute;
    top: 49.92%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.hide{
    display: none;

}
/* bangdieukien */
.modal_inner_fan{  
    width: 910px;
    height: 693px;
    background: white;
    /* border-radius: 10px; */
    overflow: hidden;
    animation: modal_show 0.6s linear;
}
.modal_header_fan{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: #074c95;
    color: white;
    cursor: pointer;
    text-align: right;
    font-size: 25px;
}

.modal_body #fan{
    color: #074c95;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.monitor-frame{
    display: block;   
    padding-top: 5px;
}

.monitor{
    width: 100%;
    height: auto;
    
}
/* khoigiamsat */
.para-monitor{
    list-style: none;
    width: 15.2%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 1% 8.9% ;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #ffead6;
    cursor: pointer;
    /* background: linear-gradient(180deg, rgba(51, 122, 202, 0.5) 0%, rgba(22, 84, 201, 0.5) 50%, rgba(21, 33, 201, 0.5) 100%); */
}

.block{
    list-style: none;
    width: 14.8%;
    height: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 0 4.77% ;
    text-align: center;
    justify-content: center;
    border-radius:10px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #ffead6;
    cursor: pointer;
    /* background: linear-gradient(180deg, rgba(51, 122, 202, 0.5) 0%, rgba(22, 84, 201, 0.5) 50%, rgba(21, 33, 201, 0.5) 100%); */
}



.block input{
    margin-top: 5px;
}

.selectrunstop{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.RUN{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
.selectlockunlock{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.UNLOCK{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
.selectover{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
.over{
    border-color: #000000;
    appearance: none;
    padding: 0 30px 0 10px;
    width: 92%;
    font-size: 20px;
    cursor: pointer;
}
/* .control .block1{
    padding: 10px;
    width: 17%;
    height: 280px;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
    position: absolute;
    top: 400px;
    left: 80px;
} */

/* .control .block2{
    padding: 10px;
    width: 17%;
    height: 200px;    
    vertical-align: top;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
}

.control .block3{
    padding: 10px;
    width: 17%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% ;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
}
.control .block4{
    padding: 10px;
    width: 17%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% ;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px rgb(163, 161, 161);
    background-color: #f3fff3;
} */
.input-group label{
    font-size: 18px;
    justify-content: center;
}
.input-group{
    margin-top: 10px;
}

.input-group input{
    width: 120px;
    height: 30px;
    font-size: 18px;
    justify-content: center;
    padding-left: 12px;
}

.para-monitor a{
    color: black;
    text-decoration-line: none;
}



.title-para-monitor{
    padding-top: 5px;
    font-size: 20px;
}

.icon-para-monitor{
    width: 17%;
    padding-top: 3px;
}

.value-para-monitor{
    font-size: 20px;
    padding-top: 5px;
}

/* Dien ap */
#giamsatdienap{
    opacity: 0;
    background-color: white;
    margin-top: 10px;
    height: 540px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 9px;
    border: 4px solid #073f7e;

}


#voltage-monitor{
    padding-top: 20px;
    
}

#sheet-voltage{
    margin-left: 20px;
    width: 400px;
}

.report{
    font-size: 25px;
    padding-bottom: 10px;
    cursor: pointer;
    
}

/* .report:hover{
    
} */

#table-sheet-voltage{
    background: #989a9b;
}

.title-col-sheet{
    background: white;
}

.content-row-voltage{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}

.title-col-sheet:nth-child(even) {
    background-color: #dddddd;
}

.frame-gauge{
    width: 380px;
    margin-top: 10px;
    margin-left: 20px;
}

.frame-gauge-text{
    font-size: 25px;

}

.gauge{
    width: 380px;
    height: 180px;
}

.value{
    color: black;
    background: white;
    font-size: 25px;
    text-align: center;
}

.frame-chart{
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 35%;
}

.frame-chart-text{
    font-size: 25px;
}

.chart{
    margin-top: 10px;
    width: 900px;
    height: 500px;
    /* border: 2px solid #074c95; */
    
}
/* ------dongdien------- */
#giamsatdongdien{
    background-color: white;
    opacity: 0;
    margin-top: 10px;
    height: 540px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 9px;
    border: 4px solid #073f7e;
}
.content-row-current{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#current-monitor{
    padding-top: 20px;
    
}
#table-sheet-current{
    background: #989a9b;
}
#sheet-current{
    margin-left: 20px;
    width: 400px;
}
/* -----------tanso------------- */
.content-row-frequency{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsattanso{
    background-color: white;
    opacity: 0;
    margin-top: 10px;
    height: 540px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 9px;
    border: 4px solid #073f7e;
}
#frequency-monitor{
    padding-top: 20px;
    
}
#table-sheet-frequency{
    background: #989a9b;
}
#sheet-frequency{
    margin-left: 20px;
    width: 400px;
}
/* ---------tocdoquay------------- */
.content-row-speed{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsattocdo{
    background-color: white;
    opacity: 0;
    margin-top: 10px;
    height: 540px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 9px;
    border: 4px solid #073f7e;
}
#speed-monitor{
    padding-top: 20px;
    
}
#table-sheet-speed{
    background: #989a9b;
}
#sheet-speed{
    margin-left: 20px;
    width: 400px;
}
/* ---------congsuat------------- */
.content-row-power{
    padding: 5px 10px;
    font-size: 15px;
    width: 400px;
    text-align: center;
    
}
#giamsatcongsuat{
    background-color: white;
    opacity: 0;
    margin-top: 10px;
    height: 540px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 9px;
    border: 4px solid #073f7e;
}
#power-monitor{
    padding-top: 20px;
    
}
#table-sheet-power{
    background: #989a9b;
}
#sheet-power{
    margin-left: 20px;
    width: 400px
}



/* .arlert{
    display: flex;
    position: absolute;
    width: 400px;
    height: 70px;
    align-items: center;
    box-shadow: 0px 0px 5px #073f7e;
    top: 50px;
    right: 80px;
    background-color: #ffffff;
  
    transition: all 0.8s;
} */

.alert {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 120px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 30px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert1 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 40px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 20px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert2 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 40px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.alert3 {
    display: flex;
    position: absolute;
    width: 270px;
    height: 70px;
    align-items: center;
    top: 40px;
    right: 20px;
    background-color: #ffffff;
    overflow: hidden;
    justify-content: center;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 5px #073f7e;
    transition: all 0.8s;
    border: 2px solid #3af13a; /* Màu xanh: #00ff00 */
}
.process {
    height: 70px;
    border-left: 5px solid rgb(254, 180, 119);
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.4s;
}

.check {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}
.lock-icon {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}
.unlock-icon {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}
.green-icon {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}
.red-icon {
    position: absolute;
    width: 10%;
    height: auto;
    top: 30%;
    left: 5%;
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 0 30px rgba(0, 255, 255, 0);
    }
}
/* setthoigian */
/* body1 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
    position: relative;
} */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.container1 {
    background-color: #074c95;
    position: absolute; /* Hoặc position: fixed; */
    top: 300px; /* Khoảng cách từ đỉnh */
    left: 1250px; /* Khoảng cách từ bên trái */
    width: 170px; /* Chiều rộng */
    height: 300px; /* Chiều cao */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 h2 {
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.container1 label {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

/* input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 22px); /* Để tính toán đúng padding */
 

button {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-self: center;
    width: 100px; /* Đặt chiều rộng cụ thể cho nút */
}

button:hover {
    background-color: #218838;
}

.container1 input{
    margin-top: 5px;
}

.container1 select{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 120px;
    height: 30px;

}
