/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*vị trí - kích thước (chiều rộng- chiều cao)- màu sắc- kiểu chữ- hình dạng*/


html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#main {
    width: 100%;
}

#header {
    height: 40px;
    background-color: #074c95;
    display: flex;
    justify-content: flex-start; /* căn trái các mục */
}

#nav {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left; /* căn trái các mục */
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}

#nav li a:hover {
    color: #fffc1e;
    background-color: darkblue;
}

#content {
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p, li {
    font-size: 20px; /* Đặt cỡ chữ 20px */
}

h1, h2, h3, h4, h5, h6 {
    color: black; /* Màu chữ đen */
    margin-left: 20px; /* Khoảng cách lề trái 20px */
    margin-right: 20px; /* Khoảng cách lề phải 20px */
    font-weight: bold; /* In đậm */
}

p, li {
    margin-left: 50px; /* Khoảng cách lề trái 25px */
    margin-right: 50px; /* Khoảng cách lề phải 20px */
    line-height: 1.5; /* Độ giãn dòng */
    text-indent: 0; /* Loại bỏ sự thụt vào lề */
    text-align: justify;
}

/* Tạo bộ đếm cho tiêu đề */
body {
    counter-reset: headerCounter;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    counter-increment: headerCounter;
    content: counter(headerCounter, upper-roman) ". ";
}

#content .content-section {
    width: 1200px;
    padding: 64px 0px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 50px;
    font-weight: 500;
    text-align: center; /* căn giữa*/
    letter-spacing: 4px; /* khoảng cách các chữ*/
}

#content .section-sub-heading {
    font-size: 50px;
    margin-top: 25px;
    
}

#content .about-text {
    font-size: 25px;
    margin-top: 25px;
    text-align: justify; /* căn đều*/
    line-height: 1.6; /* khoảng cách giữa các hàng*/
    
}

#content .img-list {
    text-align: center; /* căn giữa*/
    margin-top: 25px;  
}

#content .text-list{
    float: left;
    width: 50%;
}
/* 
#footer {

} */


/* -------------- form----------------- */
